#root {
  width: 100%;
  font-family: var(--fontFamily-Body);
  font-size: .6rem;
  letter-spacing: var(--spacing-3);
  position: relative;
  
}

.designRoot {
  background-color: #e6e5dd;
  color: #080808;
  
}

.transparentHeader .header-fixed {
  background-color: transparent;
}

.biographieBg  {
  background-color: #080808;
  color: aliceblue !important;
}